# Find and clean faults in transactions.csv

In [7]:
import pandas as pd

file = "../data/transactions_original.csv"

df_transactions = pd.read_csv(file)
display(df_transactions.head())
# print(df_transactions.dtypes)

# print(df_transactions.columns)

/tmp/ipykernel_21896/1626673410.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transactions = pd.read_csv(file)

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund

### ["transaction_id"] - column

In [15]:
# check for uniqueness in transaction - column
duplicates = df_transactions[df_transactions["transaction_id"].duplicated(keep=False)]
# display(duplicates) # no duplicates

In [ ]:
import uuid

def is_valid_uuid(uuid_to_test, version=4):
    for key, row in uuid_to_test.iterrows():
        # print(f"{row["transaction_id"]}")
        try:
            # print(row["amount"])
            uuid_obj = uuid.UUID(row["transaction_id"], version=4)
        except Exception as e:
            print(e)
        
print(is_valid_uuid(df_transactions)) # all transaction_id are legit UUID

None

### ["amount"] - column
There are a few errors in the amount-column, such as (leading, trailing and inside) blank space

In [6]:
# remove whitespace
# conversion from object to float not possible with blank spaces
df_transactions["amount"] = df_transactions["amount"].astype(str)
df_transactions["amount"] = df_transactions["amount"].str.replace(" ", "")
df_transactions["amount"] = df_transactions["amount"].astype(float)

print(df_transactions.dtypes) # ["amount"] is now float64
display(df_transactions)

transaction_id            object
timestamp                 object
amount                   float64
currency                  object
sender_account            object
receiver_account          object
sender_country            object
sender_municipality       object
receiver_country          object
receiver_municipality     object
transaction_type          object
notes                     object
dtype: object

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994.61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ea7e0cb2-fadb-496c-962b-7e54a5cfa1bc,2025-02-03 17:00:00,146.04,USD,GB39XHRG15445191862019,SE8902AQYT55466061009593,Mauritania,Jacksonville,Sweden,Nyköping,outgoing,Gift to family member
99996,4271c3c0-d3be-49f5-8154-ee60e2a1e582,2025-01-07 14:00:00,56.98,USD,GB97OHYP64183530899251,SE8902AQYT55466061009593,Guinea,Waltersport,Sweden,Skellefteå,incoming,NaN
99997,23574238-9739-4af4-a823-5b699812db4d,2025-05-11 13:00:00,128.34,USD,GB68PWPH34390331224741,SE8902AQYT55466061009593,Tokelau,Davidfurt,Sweden,Luleå,incoming,Gift to family member
99998,38e785ff-e460-419e-af07-595f5c67aaf6,2025-02-02 13:00:00,149.13,USD,GB30NDUZ96025046626638,SE8902AQYT55466061009593,Bulgaria,West Andrewside,Sweden,Skellefteå,outgoing,Loan repayment
99999,94e5a276-d5ce-40f6-b17c-97885b455bbd,2025-05-09 15:00:00,41.77,USD,GB64JUMJ42347315082570,SE8902AQYT55466061009593,Latvia,Crawfordfort,Sweden,Varberg,outgoing,NaN

### timestamp - column

## Tool testing

In [5]:
error_columns = df_transactions.columns.tolist() + ["error_message", "saved", "do_not_run"]
display(error_columns)

['transaction_id',
 'timestamp',
 'amount',
 'currency',
 'sender_account',
 'receiver_account',
 'sender_country',
 'sender_municipality',
 'receiver_country',
 'receiver_municipality',
 'transaction_type',
 'notes',
 'error_message',
 'saved',
 'do_not_run']

In [45]:
from datetime import datetime
import random
import string

def create_unique_run_id():
    """
    Creates a unique identifier for transaction rows

    note: microseconds (%f) has 6 (six) digits
    note: if server runs are faste than 8 per milliseconds then up the length-value
    """

    # get the timestamp
    now = datetime.now().strftime("%Y%m%d%H%M%S%f")
    
    # create a random strin for absolute uniqueness
    length = 8 # accepts <8 runs per microsecond
    random_string = ''.join(random.choices(
        string.ascii_uppercase + string.digits, k=length))
    
    f = now + random_string
    return f

df_transactions["run_id"] = create_unique_run_id()
df_transactions.head()

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes,run_id
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase,20250530102236769141EOA3EVOQ
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund,20250530102236769141EOA3EVOQ
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund,20250530102236769141EOA3EVOQ
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN,20250530102236769141EOA3EVOQ
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund,20250530102236769141EOA3EVOQ