# Find and clean faults in transactions.csv

In [19]:
import pandas as pd

file = "../data/transactions_original.csv"

df_transactions = pd.read_csv(file)
display(df_transactions.head())
print(df_transactions.dtypes)

print(df_transactions.columns)

/tmp/ipykernel_41460/1415951825.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transactions = pd.read_csv(file)

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund

transaction_id           object
timestamp                object
amount                   object
currency                 object
sender_account           object
receiver_account         object
sender_country           object
sender_municipality      object
receiver_country         object
receiver_municipality    object
transaction_type         object
notes                    object
dtype: object
Index(['transaction_id', 'timestamp', 'amount', 'currency', 'sender_account',
       'receiver_account', 'sender_country', 'sender_municipality',
       'receiver_country', 'receiver_municipality', 'transaction_type',
       'notes'],
      dtype='object')

### ["amount"] - column
There are a few errors in the amount-column, such as (leading, trailing and inside) blank space

In [ ]:
# remove whitespace
# conversion from object to float not possible with blank spaces
df_transactions["amount"] = df_transactions["amount"].astype(str)
df_transactions["amount"] = df_transactions["amount"].str.replace(" ", "")
df_transactions["amount"] = df_transactions["amount"].astype(float)

# print(df_transactions.dtypes) # amount is now float64
# display(df_transactions)