# Find and clean faults in transactions.csv

In [3]:
import pandas as pd

file = "../data/transactions_original.csv"

df_transactions = pd.read_csv(file)
# display(df_transactions.head())
# print(df_transactions.dtypes)

# print(df_transactions.columns)

/tmp/ipykernel_8714/215326062.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transactions = pd.read_csv(file)

### ["amount"] - column
There are a few errors in the amount-column, such as (leading, trailing and inside) blank space

In [ ]:
# remove whitespace
# conversion from object to float not possible with blank spaces
if df_transactions["amount"].astype(float):
    return True
else:
    df_transactions["amount"] = df_transactions["amount"].astype(str)
    df_transactions["amount"] = df_transactions["amount"].str.replace(" ", "")
    df_transactions["amount"] = df_transactions["amount"].astype(float)

# print(df_transactions.dtypes) # amount is now float64
# display(df_transactions)

In [5]:
error_columns = df_transactions.columns.tolist() + ["error_message", "saved", "do_not_run"]
display(error_columns)

['transaction_id',
 'timestamp',
 'amount',
 'currency',
 'sender_account',
 'receiver_account',
 'sender_country',
 'sender_municipality',
 'receiver_country',
 'receiver_municipality',
 'transaction_type',
 'notes',
 'error_message',
 'saved',
 'do_not_run']

In [45]:
from datetime import datetime
import random
import string

def create_unique_run_id():
    """
    Creates a unique identifier for transaction rows

    note: microseconds (%f) has 6 (six) digits
    note: if server runs are faste than 8 per milliseconds then up the length-value
    """

    # get the timestamp
    now = datetime.now().strftime("%Y%m%d%H%M%S%f")
    
    # create a random strin for absolute uniqueness
    length = 8 # accepts <8 runs per microsecond
    random_string = ''.join(random.choices(
        string.ascii_uppercase + string.digits, k=length))
    
    f = now + random_string
    return f

df_transactions["run_id"] = create_unique_run_id()
df_transactions.head()

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes,run_id
0,f2f3b0fc-b7d7-4d85-b682-cbf07ef77c1a,2025-03-06 12:04:00,7746.03,SEK,SE8902EWFT80524424320740,SE8902ZUIH32054423564254,Sweden,Karlskrona,Sweden,Eskilstuna,outgoing,Online purchase,20250530102236769141EOA3EVOQ
1,feccbd1e-7752-4452-a44a-901510252561,2025-03-31 01:37:00,45193.04,SEK,SE8902GTSI58472323675409,SE8902ERNA19462716907689,Sweden,Piteå,Sweden,Norrköping,outgoing,Tax refund,20250530102236769141EOA3EVOQ
2,bc6a480c-e2e1-434d-830c-1cda3f913038,2025-04-29 22:58:00,33029.71,SEK,SE8902SEZT63377163386089,SE8902LOLQ30361773270969,Sweden,Östersund,Sweden,Karlskoga,incoming,Tax refund,20250530102236769141EOA3EVOQ
3,b832aa2c-77f3-4c4f-9697-9776b8d74abb,2025-02-27 14:52:00,35994 .61,SEK,SE8902MGEE43594824630478,SE8902XIVG18316797897983,Sweden,Karlstad,Sweden,Helsingborg,incoming,NaN,20250530102236769141EOA3EVOQ
4,0d32c6ef-508e-4f5d-bc64-341a0a9f498d,2025-01-03 22:29:00,32229.73,SEK,SE8902SZWO66860675966705,SE8902SUUS97732018069804,Sweden,Skellefteå,Sweden,Falun,outgoing,Tax refund,20250530102236769141EOA3EVOQ